/* call Style */
.call {
	text-align: center;
	background-color: #eee;
}
.call ul {
	padding: 0px;
	margin: 0px;
}
.call ul li {
	list-style: none;
	display: inline-block;
}
.call .logo img {
	max-width: 100%;
	margin-top: 60px;
	margin-bottom: 40px;
}
.call .call-menu {
	margin-bottom: 40px;
}
.call .call-menu ul li {
	margin: 0px 15px;
}
.call .call-menu a {
	font-size: 13px;
	color: #7a7a7a;
	text-transform: uppercase;
	transition: all 0.5s;
}
.call .call-menu a:hover {
	color: #0c1216;
	text-decoration: none;
}
.call .social-icons {
	margin-bottom: 60px;
}
.call .social-icons ul li {
	margin: 0px 10px;
}
.call .social-icons a {
	width: 32px;
	height: 32px;
	color: #fff;
	background-color: rgb(104, 102, 102);
	text-align: center;
	display: inline-block;
	line-height: 33px;
	border-radius: 50%;
	font-size: 13px;
	transition: all 0.5s;
}
.call .social-icons a:hover {
	background-color: #000000;
}

/* Sub call Style */
.sub-call {
	border-top: 1px solid #eee;
	text-align: center;
}
.sub-call p {
	font-size: 12px;
	color: #7a7a7a;
	line-height: 60px;
}
.sub-call a {
	color: #3a8bcd;
	text-decoration: none;
}